{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "^react$",
    "^next",
    "^@?\\w",
    "^@/?\\w",
    "^\\.\\/\\w",
    "^\\.\\."
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["jsx", "typescript", "decorators-legacy"]
}
